*,::before,::after{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 190%;
  font-family: sans-serif;
}
.title,
nav {
  text-align: center;
  position: relative;
  z-index: 2;
}

ul {
  text-transform: uppercase;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 15px 20px;
  background: blue;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: white;
}
.link_a {
  text-decoration: none;
  color: white;
}
.link_a:hover {
  text-decoration: none;
  color: black;
}
.buttonAgregar {
  border: #000000 solid 1px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  color: #000000;
  margin: 7px;
  font-size: large;
  text-decoration: none;
}
.buttonAgregar:hover{
  background-color: blue;
  color: white;
}

.container_table {
  margin: 50px auto;
  background: transparent;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: 40px;
  box-shadow: 0 0 20px #333;
}

.table_title {
  grid-column-start: 1;
  grid-column-end: 10;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.table_header,
.table_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header {
  font-weight: bold;
}

.table_item {
  padding: 5px;
  font-size: 20px;
}
ul li:hover {
  background: #ffffff;
  color: #000000;
}

ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  padding: 0;
}

ul ul li {
  float: none;
  width: 150px;
}
ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
ul li:hover > ul {
  display: block;
}
.buttonME {
  font-size: 16px;
  margin: 3px;
  cursor: pointer;
  font-weight: bold;
  color: gray;
  transition: 0.3s;
}
.buttonME:hover {
  color: black;
}

.buscar{
  padding: 8px 0;
}
.input_busqueda{
  height: 25px;
  border-radius: 5px;
}
.input_enviar{
  height: 25px;
  border-radius: 5px;
}