body {
  background: rgb(175, 118, 180);
  background: linear-gradient(
    90deg,
    rgba(175, 118, 180, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.title,
nav {
  text-align: center;
  position: relative;
  z-index: 2;
}

ul {
  text-transform: uppercase;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 15px 20px;
  background: #689ed1;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #ffffff;
  color: #f7f7f7;
}

.container {
  z-index: 1;
  position: relative;
  margin: 20px auto;
  width: 45%;
  background: #dedede;
  border-radius: 5px;
}
.canino_form {
  padding: 20px 110px;
}
.canino_form .font {
  font-size: 18px;
}
.canino_form .font2 {
  padding-top: 15px;
}
.canino_form .font3 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}
.canino_form .font4 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}
.canino_form .font5 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}
.canino_form .font6 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}
.canino_form .font7 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}
.canino_form .font8 {
  align-items: flex-start;
  justify-content: left;
  padding: 15px 0 15px 0;
}

.id {
  margin: 0 115px 0 0;
}
.nombre {
  margin: 0 110px 0 0;
}
.fecha_adopcion_inicial {
  margin: 0 10px 0 0;
}
.fecha_adopcion_final {
  margin: 0 20px 0 0;
}
.foto {
  margin: 0 140px 0 0;
}
.id_tipo_canino {
  margin: 0 88px 0 0;
}
.id_refugio {
  margin: 0 115px 0 0;
}
.estado {
  margin: 10px 30% 0 0;
  position: absolute;
}
.canino_form input {
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}
.canino_form button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 120px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #689ed1;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #6ab4c7;
  transition: 0.5s;
}
.buttonME {
  font-size: 16px;
  margin: 3px;
  cursor: pointer;
  font-weight: bold;
  color: gray;
  transition: 0.3s;
}
.buttonME:hover {
  color: black;
}
.canino_form button:hover {
  background: #ffffff;
  color: #000000;
}

.toggle {
  position: absolute;
  width: 60px;
  height: 35px;
  background: red;
  border-radius: 30px;
  margin-left: 21.5%;
}

.toggle .toggle_button {
  position: relative;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.toggle.active {
  background: green;
}

.toggle.active .toggle_button {
  left: 27px;
}

ul li:hover {
  background: #ffffff;
  color: #000000;
}

ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  padding: 0;
}

ul ul li {
  float: none;
  width: 150px;
}
ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
ul li:hover > ul {
  display: block;
}

.small {
  color: red;
}
.select{
  height: 20px;
  width: 100px;
}